<link href="http://static.yang.com/media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="http://static.yang.com/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
<link href="http://static.yang.com/media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="http://static.yang.com/media/css/style-metro.css" rel="stylesheet" type="text/css"/>
<link href="http://static.yang.com/media/css/style.css" rel="stylesheet" type="text/css"/>
<link href="http://static.yang.com/media/css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="http://static.yang.com/media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="http://static.yang.com/media/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<!-- <link href="http://static.yang.com/plugin/font-awesome-4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">